/* mobile */
/* desktop */
/* global */


/**************** MOBILE CSS ************/
/* @media only screen and (max-width: 480px) { */

/* ============== NAVIGATION SECTION ============== */
.navigation-section {
  -webkit-box-shadow: 0px -3px 20px -9px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -3px 20px -9px rgba(0,0,0,0.5);
  box-shadow: 0px -3px 20px -9px rgba(0,0,0,0.5);
  z-index: 2;
  /* box-shadow: 0px 0px 100px #0000000D;
  background: #FFFFFF 0% 0% no-repeat padding-box; */
}

.navigation-logo {
  position: relative;
  margin: 5% 0% -10% 5%;
}


/* ============ TOGGLE NAVIGATION SECTION ============ */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: var(--main-blue);
  overflow: hidden;
  transition: 0.5s;  
  box-shadow: 0px 13px 20px 0px black;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.overlay a {
  font-size: 1.5em;
  margin-bottom: 2em;
  display: block;
  transition: 0.3s;
  font-weight: lighter;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  right: .15em;
  top: -.4em;
  font-size: 3em;
  color: var(--main-white);
}

.hamburger-icon {
  height: 2em;
  width: 2em;
  position: fixed;
  right: 0em;
  margin: .5em .5em 0 0;
  z-index: 2;
}

/* ============== FOOTER SECTION ============= */
.footer-section {
  position: relative;
  bottom: 6rem;
  height: 6rem;
  background-color: var(--main-blue);
}

.footer-section-logo {
  height: 2em;
  width: 4.5em;
  margin-bottom: 1em;
}

.footer-contact-info {
  color: var(--main-yellow);
}



/* ============ HOME SECTION ============ */
.home-section {
  height: 2050px;
  padding-left: 10%;
  overflow: hidden;
}


.hs-a {
  position: relative;
  top: 10rem;
  z-index: 1;
  width: 75%;
}

.hs-a-subtitle {
  margin-top: 1rem;
}

.hs-a-button {
  margin-top: 2rem;
  background-color: var(--main-yellow);
  border: none;
  color: white;
  border-radius: 30px;
  padding: 15px 25px;
}

.hs-a-button:focus {
  outline: none;
  box-shadow: none;
}

.hs-vector-background-a {
  position: relative;
  margin-top: 3rem;
  right: 2rem;
}

.hs-b-ad-group {
  margin-top: 1rem;
  overflow: scroll;
}


.hs-b-ad-group::-webkit-scrollbar{
  display: none;
}

.hs-vector-background-b {
  position: relative;
  margin-top: -150%;
  left: -16rem;
  z-index: -1;
}

.hs-c {
  position: relative;
  top: 3rem;
  margin-left: -10%;
}

.hs-c-img-group {
  margin-top: 1rem;
}

.hs-c-button {
  position: relative;
  left: 50%;
  top: 1rem;
  font-weight: bolder;
}
/* blinking animation for button */
.scale-up-bl {
	-webkit-animation: scale-up-bl 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate ;
	        animation: scale-up-bl 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate ;
}

.hs-d {
  position: relative;
  top: 10rem;
}

.hs-d-title {
  position: relative;
  right: 10%;
  top: 5rem;
}

.hs-d-main {
  position: relative;
  top: 8rem;
  font-weight: bold;
}

.hs-d-footnote {
  position: relative;
  margin-left: -10%;
  padding: 10%;
}

.hs-d-button {
  position: relative;
  background-color: var(--main-yellow);
  border: none;
  color: white;
  border-radius: 30px;
  padding: 10px 25px;

  top: 9rem;
  left: -10%;
  left: 25%;
  transform: translateX(-12.5%);
}

.hs-d-button:focus {
  outline: none;
  box-shadow: none;
}

.hs-vector-background-c {
  position: relative;
  margin-top: -20%;
  right: -16rem;
  z-index: -1;
}



/* ============ STORE-LOCATOR SECTION ==============*/
.store-locator-section   {
  height: 1200px;
  padding-top: 20%;
}

.sls-title {
  margin-top: 20%;
}

.sls-search {
  height: 40%;
  
}

.sls-search > input {
  border: none;
} 



.map-section {
  margin-top: 1rem;
  width: 95%;
  position: relative;
  margin-right: 0px !important;
  margin-left: 0px !important;
  transform: translateX(3%);
}


.sls-results {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  position: relative;
  left: 0%;
  overflow: scroll;
}


.show-directions {
  font: red;
}







/* } */

/************** DESKTOP CSS *************/
@media only screen and (min-width: 768px) {
  
/* ============== NAVIGATION SECTION ============== */
.navigation-section {
  /* -webkit-box-shadow: 0px -3px 20px -9px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -3px 20px -9px rgba(0,0,0,0.5);
  box-shadow: 0px -3px 20px -9px rgba(0,0,0,0.5);
  z-index: 2; */
  height: 5rem;
}

.navigation-logo {
  position: relative;
  margin: -3% 0% -10% 5%;
}


/* ============== FOOTER SECTION ============= */
.footer-section {
  height: 7rem;
}

.footer-section-logo {
  height: 4em;
  width: 9em;
  margin-bottom: 0em;
}

.footer-section-info {
  width: 40%;
  bottom: 0rem;
}

.footer-contact-info {
  color: var(--main-yellow);
}

/* FOOTER FONT */
.montserrat-regular-small-white {
  font: 1em Montserrat, serif !important;
}

/* ============ HOME SECTION ============ */
.home-section {
  height: 1700px;
  /* padding-left: 10%;
  overflow: hidden; */
}

.hs-a {
  position: relative;
  top: 15rem;
}

.hs-a-subtitle {
  width: 50%;
}


.hs-vector-background-a {
  position: relative;
  margin-top: 0rem;
  right: -50%;
  width: 50%;
}

.hs-vector-background-b {
  position: relative;
  margin-top: -40%;
  left: -22rem;
  z-index: -1;
}

.hs-b {
  position: absolute;
  top: 45rem;
  /* margin */
}

.hs-cd {
  position: relative;
  margin-top: 15%;
}

.hs-c {
  position: relative;
  top: 3rem;
  margin-left: 0%;
}

.hs-c-button {
  top: 1rem;
  transition: all .2s ease-in-out;
}

.hs-c-button:hover {
  transform: scale(1.1);
}


.hs-c-button>a:hover {
  cursor: default;
  text-decoration: none;
}

.hs-d {
  position: relative;
  top: 10rem;
}

.hs-d-title {
  right: 0%;
}

.hs-d-footnote {
  position: relative;
  margin-left: -10%;
  padding: 10%;
  width: 80%;
  margin-top: -3rem;
}

.hs-d-button {
  position: relative;
  top: 6rem;
  left: 1.5rem;
}


.hs-vector-background-c {
  position: relative;
  margin-top: -20%;
  right: 10rem;
  z-index: -1;
}


.scale-up-bl {
	-webkit-animation: none;
	        animation: none;
}


/* ============ STORE-LOCATOR SECTION ==============*/
.store-locator-section   {
  height: 1200px;
  padding-top: 1%;
}

.sls-title {
  margin-top:10%;
}


.sls-search {
  height: 50%;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.sls-search::-webkit-scrollbar {
  display: none;
}

.sls-search > input {
  border: none;
  width: 50% !important;
} 



.map-section {
  margin-top: 1rem;
  width: 100%;
  position: relative;
  margin-right: 0px !important;
  margin-left: 0px !important;
  left: 50%;
  transform: translateX(-21%);
}


.sls-results {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  position: relative;
  left: 0%;
  overflow: scroll;
}


.show-directions {
  font: red;
}


}

/************* GLOBAL *************/

/* Colors */
:root {
  --main-white: #FFFFFF;
  --main-black: #000000;
  --main-blue: #0067A3;
  --main-yellow: #F5CE02;
}

/* Font Faces */
@font-face {
  font-family: Denmark;
  src: url(Library/font/denmark.TTF);
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: url(Library/font/montserrat-regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(Library/font/opensans-bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(Library/font/opensans-regular.ttf);
  font-display: swap;
}



/* Font Components */
.denmark-regular {
  font: 1.5em/1.2em Denmark, serif;
  color: var(--main-blue);
}

.montserrat-regular {
  font: 1em Montserrat, serif;
  color: var(--main-black);
}

.montserrat-regular-bold {
  font: 1em Montserrat, serif;
  color: var(--main-black);
  font-weight: bolder;
}

.montserrat-regular-small {
  font: .7em Montserrat, serif;
  color: var(--main-black);
}

.montserrat-regular-small-red {
  font: .7em Montserrat, serif;
  color: red;
  font-weight: bolder;
}

.montserrat-regular-small-bold {
  font: .7em Montserrat, serif;
  color: var(--main-black);
  font-weight: bold;
}

.montserrat-regular-small-white {
  font: .4em Montserrat, serif;
  color: var(--main-white);
}

.opensans-bold {
  font: .9em/1em OpenSans-Bold, serif;
  color: var(--main-white);
}

.opensans-regular {
  font: .9em/1em OpenSans-Regular, serif;
  color: var(--main-white);
}

.opensans-regular-blue {
  font: 1em OpenSans-Regular, serif;
  color: var(--main-blue);
}

/* Animations */
 @-webkit-keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}
